/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ================
    
    GLOBAL STYLE
    
================== */

img {
    max-width: 100%;
}

body {
    background-color: #000;
}

h1,
h2,
h3 {
    margin: 10px;
    color: #313131;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-size: 2em;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

h2 {
    font-size: 1.3em;
    font-weight: 300;
}

h3,
p,
li {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    color: #313131;
}

h3 {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0.2em;
    font-weight: bold;
}

p {
    letter-spacing: 2px;
    margin: 10px 0 15px 10px;
    line-height: 1.3em;
}

em {
    font-style: italic;
    font-size: .7em;
}

p span {
    font-size: .8em;
}

#container {
    max-width: 1000px;
    margin: 2% auto;
    background-color: #ccc;
    border: 2em #fff solid;
}

header {
    background-color: #ccc solid;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 1%;
}

nav {
    background-color: #ccc;
    height: 98%;
    display: grid;
    align-items: end;
    background-image: url("img/nav-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav ul {
    padding: 1.5% 3px 18.5px 0;
    text-align: left;
}

nav li {
    display: inline;
    font-size: 0.65em;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 3% 1em;
    background-color: #fff;
}

nav li a {
    padding: 2.3em 0em;
    color: #666;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover,
nav li a:active {
    color: #379FAA;
    text-decoration: underline;
    transition: background-color 0.8s ease;
}

main {
    display: grid;
    grid-template-columns: 25% 74%;
    column-gap: 1%;
    margin-bottom: 10px;
}

#leftcol {
    background-color: #fff;
    padding: 19px 10% 19px 0;
}

#leftcol li {
    list-style-type: decimal;
    margin: 0 0 .5px 20px;
    font-size: .8em;
}

#leftcol ol {
    padding-bottom: 10px;
    border-bottom: 1px #141414 solid;
}

footer {
    padding-top: 10px;
    background-image: url(img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 221px;
}

footer p {
    color: #fff;
    font-weight: bold;
    text-align: right;
    font-size: .82em;
    margin-right: 50px;
}

#rightcol {
    padding: 19px 0 0 3%;
    background-color: #fff;
}

figcaption {
    margin: 15px 0;
    line-height: 1.2;
    font-size: .7em;
    margin: 4%;
}

.image-left {
    float: left;
    margin: 0 20px 10px 10px;
    width: 133px;
}

.image-right {
    float: right;
    margin: 0 0 10px 20px;
    width: 226px;

}

figure img {
    display: block;
    margin: 0 auto;
}

figure {
    padding: 10px 1%;
    border: 1px solid #ccc;
    max-width: 370px;
}

.video-wrapper {
    width: 98%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: 0 0 18px 10px
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

form {
    border: 1px #666 solid;
    width: 480px;
    margin: 5% auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input#name,
input#email,
textarea#message {
    width: 100%;
    margin-bottom: 20px;
}

.dummy-btn:disabled:hover {
    font-size: 0;
}

.dummy-btn:disabled:hover::before {
    content: attr(data-hover);
    font-size: 14px;
    color: #888;
}

/* Hide the lightbox by default */
.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    /* Dark background blur effect */
    text-align: center;
}

/* Center the image inside the full-screen pop-out */
.lightbox-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.lightbox-close img {
    max-width: 90%;
    max-height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
}

/* THE MAGIC: Show the lightbox when its ID is in the URL target */
.lightbox:target {
    display: block;
}